<?xml version="1.0" encoding="utf-8" ?>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" fileName="${basedir}/Santolibre.Map.Elevation.WebService.log" archiveFileName="${basedir}/Santolibre.Map.Elevation.WebService-{##}.log" archiveAboveSize="1048576" archiveNumbering="Sequence" maxArchiveFiles="10" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>
